<p class="pie-order-field">
  <%= f.label :pie %><%= f.select :pie_id, @pie_options, {}, class: "pie-select" %>
  <%= f.label :quantity %><%= f.select :quantity, [1,2,3,4,5], {}, :class => "pie-quantity" %>
  <%= link_to_remove_fields "remove", f %>

</p>
