<h1>Listing pie_orders</h1>

<table>
  <tr>
    <th>Pie</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pie_orders.each do |pie_order| %>
  <tr>
    <td><%= pie_order.pie_id %></td>
    <td><%= pie_order.quantity %></td>
    <td><%= link_to 'Show', pie_order %></td>
    <td><%= link_to 'Edit', edit_pie_order_path(pie_order) %></td>
    <td><%= link_to 'Destroy', pie_order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pie order', new_pie_order_path %>
