<%= form_for(@pickup_loc) do |f| %>
  <% if @pickup_loc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickup_loc.errors.count, "error") %> prohibited this pickup_loc from being saved:</h2>

      <ul>
      <% @pickup_loc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
