<!DOCTYPE html>
<html>
<head>
  <title>Must Eat Pie | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="left-col">
    <a id="logo"></a>
    <a id="home-link" href="/">Home</a>
    <a id="about-link" href="/about">About</a>
    <a id="current-menu-link" href="/currentmenu">Current Menu</a>
    <a id="order-link" href="/order">Order</a>
  </div>
  <div id="right-col">
    <%= yield %>
  </div>
</body>
</html>
